Alexis Roche <alexis.roche@gmail.com> Alexis ROCHE <ar203069@is124135.intra.cea.fr>
Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Benjamin Thyreau <benjamin@neron> benjamin.thyreau <>
Bertrand Thirion <bertrand.thirion@inria.fr> Bertrand THIRION <bt206016@is143015>
Bertrand Thirion <bertrand.thirion@inria.fr> bertrand.thirion <>
Bertrand Thirion <bertrand.thirion@inria.fr> bthirion <bertrand.thirion@inria.fr>
Christopher Burns <cburns@berkeley.edu> Chris <cburns@localhost.localdomain>
Christopher Burns <cburns@berkeley.edu> cburns <>
Cindee Madison <cindee@berkeley.edu> Cindee Madison <cindeem@8d8.local>
Cindee Madison <cindee@berkeley.edu> cindee.madison <>
Cindee Madison <cindee@berkeley.edu> cindeem <>
Cindee Madison <cindee@berkeley.edu> cindeem
Eleftherios Garyfallidis <garyfallidis@gmail.com>
Erik Ziegler <erik.ziegler@ulg.ac.be> erikz <erik.ziegler@ulg.ac.be>
Fabian Pedregosa <fabian.pedregosa@inria.fr>
Fernando Perez <Fernando.Perez@berkeley.edu> fdo.perez <>
Gael Varoquaux <gael.varoquaux@normalesup.org> Gael varoquaux <gael.varoquaux@normalesup.org>
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux <gael.varoquaux@noramlesup.org>
Gael Varoquaux <gael.varoquaux@normalesup.org> gvaroquaux <gael.varoquaux@normalesup.org>
Gael Varoquaux <gael.varoquaux@normalesup.org> varoquau <varoquau@localhost.(none)>
Jarrod Millman <jarrod.millman@gmail.com> Jarrod Millman <millman@berkeley.edu>
Jarrod Millman <jarrod.millman@gmail.com> jarrod.millman <>
Jean-Baptiste Poline <jbpoline@gmail.com> JB <jb@jb-laptop>
Jonathan Taylor <jtaylo@miller.stanford.edu> jonathan.taylor <>
Jonathan Taylor <jtaylo@miller.stanford.edu> jtaylo <jtaylo@ubuntu.dms.umontreal.ca>
Martin Bergtholdt <martin.bergtholdt@philips.com>
Matthew Brett <matthew.brett@gmail.com> matthew.brett <>
Matthew Brett <matthew.brett@gmail.com> mb312 <mb312@cubby>
Matthieu Brucher <matthieu.brucher@gmail.com>
Merlin Keller <keller@is207205> Merlin KELLER <mk216107@is208615>
Merlin Keller <keller@is207205> keller <keller@is207205>
Tom Waite <twaite@berkeley.edu> twaite <twaite@TOM-DUAL>
Virgile Fritsch <virgile.fritsch@gmail.com> VirgileFritsch <virgile.fritsch@gmail.com>

# and below the ones to fill out
Paris Sprint Account <paris@grf>
Philippe CIUCIU <i2bm@is206465>
Thomas VINCENT <20100thomas@gmail.com>
alan <alan@is143470>
brian.hawthorne <>
davclark <>
denis.riviere <>
michael.castelle <>
mike.trumpis <>
sebastien.meriaux <>
tim.leslie <>
yann.cointepas <>
