# vim ft=yaml
# travis-ci.org definition for nipy build
#
# We pretend to be erlang because we need can't use the python support in
# travis-ci; it uses virtualenvs, they do not have numpy, scipy, matplotlib,
# and it is impractical to build them
language: erlang
env:
    # Enable python 2 and python 3 builds. Python3 available in Ubuntu 12.04.
    - PYTHON=python PYSUF=''
    - PYTHON=python3 PYSUF=3
install:
    - sudo apt-get update
    - sudo apt-get install $PYTHON-dev
    - sudo apt-get install $PYTHON-numpy
    - sudo apt-get install $PYTHON-scipy
    - sudo apt-get install $PYTHON-setuptools
    - sudo apt-get install $PYTHON-nose
    # Installing sympy for python3 currently an unpleasant task.
    # The following is an extended virtual line; will be made into one line by
    # Travis processing.  Avoid `-` at the beginning of the line, remember to
    # add `;` at the end of continuation lines.
    - if [ "${PYSUF}" == "3" ]; then
        git clone git://github.com/sympy/sympy.git _sympy ;
        cd _sympy ;
        git checkout -b 0.7.2 sympy-0.7.2 ;
        python3 ./bin/use2to3 ;
        cd py3k-sympy ;
        sudo python3 setup.py install ;
        cd ../.. ;
      else
        sudo apt-get install $PYTHON-sympy ;
      fi
    - sudo easy_install$PYSUF nibabel # Latest pypi
    - $PYTHON setup.py build
    - sudo $PYTHON setup.py install
script:
    # Change into an innocuous directory and find tests from installation
    - mkdir for_test
    - cd for_test
    - $PYTHON ../tools/nipnost -A "not slow" `$PYTHON -c "import os; import nipy; print(os.path.dirname(nipy.__file__))"`
