# vim ft=yaml
# Multiple lines can be made a single "virtual line" because of the way that
# Travis munges each line before executing it to print out the exit status.
# It's okay for it to be on multiple physical lines, so long as you remember:
# - There can't be any leading "-"s - All newlines will be removed, so use
# ";"s
sudo: false  # To use travis container infrastructure
language: python
cache:
  directories:
    - $HOME/.cache/pip
env:
    global:
        - DEPENDS="numpy scipy sympy matplotlib nibabel"
python:
    - 2.6
    - 3.2
    - 3.3
    - 3.4

matrix:
  include:
    - python: 2.7
      env:
        - COVERAGE=1
    # Absolute minimum dependencies
    - python: 2.7
      env:
        - DEPENDS="numpy==1.6.0 scipy==0.7.0 sympy==0.7.0 nibabel==1.2.0"
before_install:
    - source tools/travis_tools.sh
    - virtualenv --python=python venv
    - source venv/bin/activate
    - python --version # just to check
    - retry pip install nose # always
    - wheelhouse_pip_install $DEPENDS
    # - sudo apt-get install -qq libatlas-dev libatlas-base-dev gfortran libpng-dev
    - if [ "${COVERAGE}" == "1" ]; then
      pip install coverage;
      pip install coveralls;
      fi
# command to install dependencies
# e.g. pip install -r requirements.txt # --use-mirrors
install:
    - python setup.py install
# command to run tests, e.g. python setup.py test
script:
    # Change into an innocuous directory and find tests from installation
    - mkdir for_testing
    - cd for_testing
    - if [ "${COVERAGE}" == "1" ]; then
      cp ../.coveragerc .;
      COVER_ARGS="--with-coverage --cover-package dipy";
      fi
    - $PYTHON ../tools/nipnost $COVER_ARGS nipy
after_success:
    - if [ "${COVERAGE}" == "1" ]; then coveralls; fi
