include AUTHOR COPYING Makefile* MANIFEST.in setup* README.* THANKS
include Changelog TODO
include *.py
include site.*
recursive-include nipy *.c *.h *.pyx *.pxd
recursive-include libcstat *.c *.h *.pyx *.pxd
recursive-include scripts *
recursive-include tools *
# put this stuff back into setup.py (package_data) once I'm enlightened
# enough to accomplish this herculean task
recursive-include nipy/algorithms/tests/data *
include nipy/COMMIT_INFO.txt
include LICENSE
graft examples
graft doc
global-exclude *~ *.swp *.pyc
