name: coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  report:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install
        run: |
          pip install -r dev-requirements.txt
          pip install .
      - name: Show environment
        run: env
      - name: Library tests
        run: |
          mkdir tmp
          cd tmp
          pytest --doctest-plus --ignore-glob="__config__.py" \
            --cov=nipy  --cov-report xml  --cov-config=../.coveragerc \
            --pyargs nipy
      - name: See what's where
        run: |
          pwd
          ls -lR ..
      - name: Upload to codecov
        uses: codecov/codecov-action@v3
        with:
          files: tmp/coverage.xml
